.line {
    fill: none;
    stroke: teal;
    stroke-width: 0.5;
}
.line2 {
    fill: none;
    stroke: orange;
    stroke-width: 0.5;
}
.axis{
    shape-rendering: crispEdges;
}

.symbolMen{
    stroke: teal;
    fill: transparent;
    stroke-width: 2;
}

.symbolMen:hover{
    stroke: orange;
}

.symbolWomen{
    stroke: orange;
    stroke-width: 2;
    fill: transparent;
}

.symbolWomen:hover{
    stroke: teal;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: black;
    color: white;
    pointer-events: none;
    transition: opacity 200ms linear;
    opacity: 0.85;
    min-width: 300px;
}

#tooltip.hidden {
    opacity: 0;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
.trendLineMen{
    stroke:black;
    stroke-width: 1;
}

.trendLineWomen{
    stroke:black;
    stroke-width: 1;
}
.axisLabels{
    font-size: 14px;
    text-anchor: middle;
    font-weight: bold;
}

.legend {
    font-size: 14px;
}

.legendMen{
    stroke: teal;
    fill: transparent;
    stroke-width: 2;
}
.legendWomen{
    stroke: orange;
    fill: transparent;
    stroke-width: 2;
}
.plotDescription{
    margin-left: 50px;
    margin-right: 20px;
    font-size: 14px;
}

.radioLegend{
    margin-right: 5px;
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: black;
}


.radioLegend.hollow{
    background-color: transparent;
    border: 2px solid black;
}

.radioLegend.teal{
    background-color: transparent;
    border: 2px solid teal;
}

.radioLegend.orange{
    background-color: transparent;
    border: 2px solid orange;
}
.radioLegend.circle{
    border-radius: 50%;
}

a{
    color: #b50404;
}
a:hover{
    color: #b50404;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.pointer{
    cursor: pointer;
}

body{
    height: 100vh;
    overflow: hidden;
}



